@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400|PT+Sans+Narrow:400,700);
@import url(http://jquerytools.org/media/css/dateinput/skin1.css);

body {
    margin: 0;
    min-width: 1100px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    font-family: "PT Sans Narrow";
    background: #fffbfb;

}

body, html {
    height: 100%;
}

#container {
    height: 100%;
    padding: 0 0 0 250px;

    padding-left: 300px;
}

#logincontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px; /*Width of frame div*/
    height: 100%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/

}

.light {
    background: #fffbfb;
    color: #0ac5f4;

}

.light a:link, .light a:visited {
    color: #0ac5f4;
    border-bottom: 1px dashed #0ac5f4;
}

.dark {
    color: #fffbfb;
    background: #0ac5f4;
}

a:link, a:visited {
    text-decoration: none;
}

.dark a:link, .dark a:visited {
    color: white;
    border-bottom: 1px dashed white;
}

#maincontainer {
    position: fixed;
    top: 0;
    left: 300px; /*Set left value to WidthOfFrameDiv*/
    right: 0;
    bottom: 0;
    overflow: hidden;

    color: white;

}

.loginmiddlebox {
    position: absolute;
    height: 500px;
    top: 50%;
    width: 90%;
    margin-top: -250px;
}

h2 {
    font-size: 49px;
    font-weight: 400;
}

h3 {
    font-size: 35px;
    background: #0e5a6d;
    padding: 4 Px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: white;
    margin: 0;
    font-weight: normal;
    margin-bottom: 2px;
}

h4 {
    margin: 0px;
    background: rgb(208, 237, 245);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #333;
    padding: 3px;
    text-transform: uppercase;
    font-weight: 300;

    width: 100% :
}

section p {
    padding: 4px;
}

#topmenu {
    height: 75px;

    -webkit-box-shadow: 0px 3px 10px 0px #666;

    box-shadow: 0px 3px 10px 0px #666;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;

}

.profilepic {
    border: 1px solid #0ac5f4;
}

section {
    width: 100%;
}

.block {

    margin: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px;
}

.fill {
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #333;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc;
    -webkit-border-radius: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
}

.quarter {
    width: 23%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    float: left;
}

.half {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    float: left;
}

.third {
    width: 32.4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    float: left;
}

.full {
    width: 100%;
}

.gmap {
    width: 100%;
    height: 100%;
    background: #c8eefd;
    -webkit-box-shadow: 0px 0px 10px 0px #666;

    box-shadow: 0px 0px 10px 0px #666;

}

.three-quarter {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    float: left;
}

.errormsg {
    background: #FAC0C0;
    color: black;
    padding: 5px;
    border: 1px solid red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.inputerror {
    background: #FAC0C0;
    color: black;
    padding: 5px;
    border: 1px solid red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 10px;
}

.tripnumber {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    width: 24px !important;
    height: 24px !important;
    margin-right: 20px;
    color: #0ac5f4;
    border: 2px solid #0ac5f4;
    font-size: 18px;
}

.two-third {
    width: 65.7%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    float: left;
}

.quarter section, .third section, .three-quarter section, .two-third section, .half  section, .full section {
    margin-bottom: 10px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px #ccc;
    padding: 5px;
    background: #fff;
    color: #333;
    -webkit-border-radius: 10px;

    border-radius: 10px;
}

.small {
    font-size: 12px;
}

#content {
    width: 1100px;
    margin: 20px auto 0 auto;
}

/* FORM STYLING */
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}

input.loginbox {
    border: 0;
    padding: 3px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    width: 100%;
    background: #0ac5f4;
    font-size: 16px;
    color: white;
    font-family: "PT Sans Narrow";

}

form.mainstyle input, form.mainstyle textarea {
    width: 400px;
    padding: 3px;
    border: 1px solid #0ac5f4;
    color: #0ac5f4;
    font-family: "PT Sans Narrow";

}

form.mainstyle input[type="checkbox"] {
    width: auto !important;
}

.button {
    border: 0;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    display: inline-block;
    background: #066178;
    font-size: 16px;
    color: white !important;
    margin-left: 0px;
    font-family: "PT Sans Narrow";
    border: 2px solid #0ac5f4 !important;
    cursor: hand;
}

.row {
    height: 60px;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    border-bottom: 1px solid #0ac5f4;

}

.row:last-child {
    border: 0;
}

.row span {
    width: 300px;
    display: block;
    float: left;
}

.row input, .row textarea, .row select {
    float: left;
}

.tooltip {
    background-color: #000;
    border: 1px solid #fff;
    padding: 10px 15px;
    width: 200px;
    display: none;
    color: #fff;
    text-align: left;
    font-size: 12px;

    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}

/* MENU STYLING */
.centermenu {
    margin: 0 auto 0 auto;
    width: 1100px;

}

#topmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

#topmenu a:link, #topmenu a:visited {
    border-bottom: none;
}

#topmenu ul li {
    float: left;
    font-size: 20px;
    padding: 10px 35px 10px 35px;
    border-right: 1px solid white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#topmenu ul li a.active {
    border-bottom: 1px solid white;
}

.big {
    height: 350px;
}

.sortable {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.sortable li {
    width: 100%;
    padding: 3px;
    margin: 0;
    background: #0ac5f4;
    color: white;
    margin-top: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.sortable li a:link, .sortable li a:visited {
    text-decoration: none;
    border: none;

    color: white;
}

.button2 {
    display: inline-block;
    padding: 3px;
    color: white;
    border: 2px solid #1799b9;
    text-align: center;
    cursor: hand;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #0ac5f4;
}

.fp_navigation {
    display: inline-block;
    padding: 3px;
    color: white;
    border: 2px solid #1799b9;
    text-align: center;
    cursor: hand;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #0ac5f4;
}

#loader {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: none;

}

#bowlG {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
}

#bowlG     p {
    text-align: center;
    font-size: 36px;
    margin: 160px 0 0 30px;
}

#bowl_ringG {
    position: absolute;
    width: 128px;
    height: 128px;

    border: 11px solid #FFFFFF;
    -moz-border-radius: 128px;
    -webkit-border-radius: 128px;
    -ms-border-radius: 128px;
    -o-border-radius: 128px;
    border-radius: 128px;
}

.ball_holderG {
    position: absolute;
    width: 34px;
    height: 128px;
    left: 47px;
    top: 0px;
    -moz-animation-name: ball_moveG;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: ball_moveG;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: ball_moveG;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: ball_moveG;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: ball_moveG;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ballG {
    position: absolute;
    left: 0px;
    top: -30px;
    width: 51px;
    height: 51px;
    background: #0EBFF5;
    -moz-border-radius: 43px;
    -webkit-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px;
    border-radius: 43px;
}

@-moz-keyframes ball_moveG {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(360deg)
    }

}

@-webkit-keyframes ball_moveG {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }

}

@-ms-keyframes ball_moveG {
    0% {
        -ms-transform: rotate(0deg)
    }

    100% {
        -ms-transform: rotate(360deg)
    }

}

@-o-keyframes ball_moveG {
    0% {
        -o-transform: rotate(0deg)
    }

    100% {
        -o-transform: rotate(360deg)
    }

}

@keyframes ball_moveG {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }

}

