@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400|PT+Sans+Narrow:400,700);

body
{
    background: #0ac5f4;
    margin:0;
    padding:0 0 0 250px;
    min-width: 750px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: "PT Sans Narrow";

}
body,html
{
    height:100%;
}
        #container
        {
            height:100%;
            padding-left: 300px;
        }
        #logincontainer
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 300px; /*Width of frame div*/
            height: 100%;
            overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
            background: #fffbfb;
            color: #0ac5f4;


        }
        #maincontainer
        {
            position: fixed;
            top: 0;
            left: 300px; /*Set left value to WidthOfFrameDiv*/
            right: 0;
            bottom: 0;
            overflow: hidden;

            color: white;

        }
        .loginmiddlebox
        {
            position: absolute;
            height:500px;
            top: 50%;
            width:90%;
            margin-top:-250px;
        }
        h2
        {
            font-size:49px;
            font-weight: 400;
        }
        input.loginbox
        {
            border:0;
            padding:3px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
            width: 100%;
            background: #0ac5f4;
            font-size: 16px;
            color: white;
            font-family: "PT Sans Narrow";

        }
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.column{
/*Margins for inner DIV inside each DIV (to provide padding)*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 15px;

}
